publish/Amazon.Lambda.Core.dll
publish/Amazon.Lambda.Serialization.SystemTextJson.dll
publish/hello_world.deps.json
publish/hello_world.dll
publish/hello_world.pdb
publish/hello_world.runtimeconfig.json
src/hello_world/bin/Release/net8.0/linux-x64/hello_world.deps.json
src/hello_world/bin/Release/net8.0/linux-x64/hello_world.dll
src/hello_world/bin/Release/net8.0/linux-x64/hello_world.pdb
src/hello_world/bin/Release/net8.0/linux-x64/hello_world.runtimeconfig.json
src/hello_world/obj/hello_world.csproj.nuget.dgspec.json
src/hello_world/obj/hello_world.csproj.nuget.g.props
src/hello_world/obj/hello_world.csproj.nuget.g.targets
src/hello_world/obj/project.assets.json
src/hello_world/obj/project.nuget.cache
src/hello_world/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/hello_world/obj/Debug/net8.0/hello_world.AssemblyInfo.cs
src/hello_world/obj/Debug/net8.0/hello_world.AssemblyInfoInputs.cache
src/hello_world/obj/Debug/net8.0/hello_world.assets.cache
src/hello_world/obj/Debug/net8.0/hello_world.csproj.AssemblyReference.cache
src/hello_world/obj/Debug/net8.0/hello_world.GeneratedMSBuildEditorConfig.editorconfig
src/hello_world/obj/Debug/net8.0/hello_world.GlobalUsings.g.cs
src/hello_world/obj/Release/net8.0/linux-x64/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.AssemblyInfo.cs
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.AssemblyInfoInputs.cache
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.assets.cache
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.csproj.AssemblyReference.cache
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.csproj.CoreCompileInputs.cache
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.csproj.FileListAbsolute.txt
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.dll
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.GeneratedMSBuildEditorConfig.editorconfig
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.genruntimeconfig.cache
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.GlobalUsings.g.cs
src/hello_world/obj/Release/net8.0/linux-x64/hello_world.pdb
src/hello_world/obj/Release/net8.0/linux-x64/PublishOutputs.d468daa8f7.txt
src/hello_world/obj/Release/net8.0/linux-x64/R2R/Amazon.Lambda.Core.dll
src/hello_world/obj/Release/net8.0/linux-x64/R2R/Amazon.Lambda.Serialization.SystemTextJson.dll
src/hello_world/obj/Release/net8.0/linux-x64/R2R/hello_world.dll
src/hello_world/obj/Release/net8.0/linux-x64/ref/hello_world.dll
src/hello_world/obj/Release/net8.0/linux-x64/refint/hello_world.dll
